@namespace Conventor2

<html>
    <head>
        <link rel="stylesheet" href="resources/style.css" />
    </head>
    <body>
        @foreach (var s in ConventorConfig.AllSections) {
            <h1>@s.Name</h1>

            <p>
                @s.Description
            </p>

            <ConventionTable SectionName=@s.Name />
        }
    </body>
</html>
