@namespace Conventor2
@using Microsoft.AspNetCore.Html

<html>
    <head>
        <link rel="stylesheet" href="resources/style.css" />
    </head>
    <body>
        <label>
            <input 
              type="checkbox" 
              onchange="
                Array.prototype.forEach.call(
                  document.getElementsByClassName('odd-bid'), 
                  (element) => {
                    element.setAttribute('open', !event.currentTarget.checked);
                  }
                );
                
                event.preventDefault();
                event.stopImmediatePropagation();
              ">

            Hide competitive auctions
        </label>

        @foreach (var s in ConventorConfig.AllSections) {
            <h1>@RenderRawHTML(s.HumanReadableName)</h1>

            <p>
                @RenderRawHTML(s.HumanReadableDescription)
            </p>

            <ConventionTable SectionName=@s.Name />
        }
    </body>
</html>

@code {
    public RenderFragment RenderRawHTML(HtmlString? rawHTML) {
        return builder => {
            builder.AddMarkupContent(0, rawHTML?.Value ?? "");
        };
    }
}
