@namespace Conventor2
@using Microsoft.AspNetCore.Html

@if (Convention == null) {
    return;
}

<table>
    @foreach (var childConvention in ChildConventions()) {
		<tr ondblclick="details = this.getElementsByTagName('details')[0]; if (details.hasAttribute('open')) details.removeAttribute('open'); else details.setAttribute('open', ''); event.preventDefault(); event.stopImmediatePropagation();">
			<td>
                @RenderRawHTML(childConvention.HumanReadableBid)
			</td>

            <td>
                <div>
                    @RenderRawHTML(childConvention.HumanReadableDescription)
                </div>
                
                @if (childConvention.Children.Count > 0) {
                    <details open="@(Depth <= 3)">
                        <summary>Expand</summary>
                        <ConventionTable StartingSequence="@childConvention.BiddingSequence" />
                    </details>
                }
			</td>
		</tr>
    }
</table>

@code {

    [Parameter]
    public String StartingSequence { get; set; } = "";

    public Convention? Convention {
        get {
            if (StartingSequence == null) {
                return ConventionExpander.RootConvention;
            }

            return ConventionExpander.GetConvention(StartingSequence);
        }
    }

    public RenderFragment RenderRawHTML(HtmlString? rawHTML) {
        return builder => {
            builder.AddMarkupContent(0, rawHTML?.Value ?? "");
        };
    }

    public int Depth {
        get {
            return StartingSequence.Count(c => c == '-');
        }
    }

    public IEnumerable<Convention> ChildConventions() {
        return (Convention?.Children.Values ?? Enumerable.Empty<Convention>()).OrderBy(c => c.SortOrder);
    }
}