@namespace Conventor2

<html>
    <head>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <ConventionTable StartingSequence="" />
    </body>
</html>

@code {
    public String StaticResourcesPath { get; set; } = "resources";
}
